<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Casa Extension</title>
    <link rel="stylesheet" href="popup.css" />
    <% if (NODE_ENV === 'development') { %>
    <!-- Load some resources only in development environment -->
    <% } %>
  </head>
  <style media="screen">
    html {
      overflow-y: hidden;
    }
    body {
      background: #fff;
      overflow-y: hidden;
    }
  </style>
  <body>
    <div id="app"></div>
    <script src="popup.js"></script>
  </body>
</html>
