@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src: url('~assets/fonts/SFProDisplay-Semibold.woff2') format('woff2'), url('~assets/fonts/SFProDisplay-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url('~assets/fonts/SFProDisplay-Regular.woff2') format('woff2'), url('~assets/fonts/SFProDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: url('~assets/fonts/SFProDisplay-Bold.woff2') format('woff2'), url('~assets/fonts/SFProDisplay-Bold.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
  src: url('~assets/fonts/SFProDisplay-Heavy.woff2') format('woff2'), url('~assets/fonts/SFProDisplay-Heavy.woff') format('woff');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url('~assets/fonts/SFProDisplay-Medium.woff2') format('woff2'), url('~assets/fonts/SFProDisplay-Medium.woff') format('woff');
}
